<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Calculadora ARSW</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Calculadora ARSW</h1>
    <h2>Resultado: <span th:text="${result}">0.0</span></h2>
    <form action="/calculate" method="post">
        <label for="number">Number:</label><br>
        <input type="text" id="number" name="number"><br>
        <select name="operation" id="operations">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
            <option value="AC">AC</option>
        </select>
        <br>
        <input type="submit" value="Calcular">
    </form>
</body>
</html>
